dist
dist_venv
# PyInstaller intermediate build artifacts
build/

# React
frontend/node_modules/
frontend/build/

# Python
__pycache__/
*.pyc
*.pyo

# Runtime-generated config (written by the app at runtime, not source)
python_pipeline/runtime_config.json

# macOS junk
.DS_Store