# Logs
logs
*.log
npm-debug.log*

node_modules
dist
*.local
/dist_venv
/build

# Editor directories and files
.idea
.DS_Store

# Exclude Python cache directories
__pycache__/

# PHI
PA000002/

selections.csv*
